<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108097768461-cmnblcubl90d6o0ibdrrt0dgbsevsvkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108097768461-cmnblcubl90d6o0ibdrrt0dgbsevsvkb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>108097768461-h52a62dgokvafk4h2pfgda7umafn03lp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Y2lKw9iFvX3KKuoO8O-bEeL_7sDK6g0</string>
	<key>GCM_SENDER_ID</key>
	<string>108097768461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fucciRent.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fucci-rents</string>
	<key>STORAGE_BUCKET</key>
	<string>fucci-rents.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108097768461:ios:415edfe8c9911661a81944</string>
</dict>
</plist>